<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="no.finn.techday2018">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".masterDetail.TechItemListActivity"
            android:label="@string/title_techitem_list"
            android:theme="@style/AppTheme" />
        <activity android:name=".taskuievents.TaskUiEventsActivity" />
        <activity
            android:name=".masterDetail.TechItemDetailActivity"
            android:label="@string/title_techitem_detail"
            android:parentActivityName=".masterDetail.TechItemListActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="no.finn.techday2018.masterDetail.TechItemListActivity" />
        </activity>
        <activity android:name=".taskCamera.TaskCameraActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".task1.Task1" />
        <activity android:name=".task2databinding.TaskViewBindingActivity" />
        <activity android:name=".taskNotifications.TaskNotificationsActivity" />
        <activity android:name=".taskImage.TaskImageActivity" />
        <activity android:name=".WebView.TaskWebViewActivity" />
        <activity android:name=".JingleBells.TaskJingleBellsActivity" />
        <activity android:name=".taskjson.TaskLoadJsonActivity" />
        <activity android:name=".taskOrientation.TaskOrientationActivity" />
        <activity android:name=".taskrecyclerview.TaskRecyclerView" />
        <activity android:name=".tasksnow.TaskSnowActivity"></activity>
    </application>

</manifest>